
h1{font-size: xx-large;
font-style: italic;
font-weight: bold;
color: #000000;
text-shadow: 0 1px 0 rgba(0,0,0,50);
}

.style1 { font-size: x-large;
font-style: italic;
font-weight: bold;
  color: #000000;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}

.style2 { font-size: large;
font-weight: bold;
  color: #000000;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}

.style3 { font-size: 14px;
font-weight: bold;
  color: #000000;
text-shadow: 0 1px 0 rgba(249,64,2,1);
}


#submit_data,#button_d {
  color: #000000;
  font-weight: bold;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}

.test{
background: rgba(150,150,150,0.5); 
width:1024px;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}

