<html>
    <head>
        <title>My assignment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/base.css" rel="stylesheet" media="screen">
     <link type="text/css" rel="stylesheet" media="all" href="/static/fancy-menu/styles/styles.css" />
<script src="/static/fancy-menu/js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="/static/fancy-menu/js/lavalamp.js" type="text/javascript"></script>
     </head>
    <body onload="javascript:document.getElementById('main').innerHTML=document.getElementById('{{ current }}').innerHTML">
        <h1>Income-Outcome list</h1>

<script type="text/javascript">
function changeNavigation(id) 
{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML}

 
</script>
<table style="width: 1000px;" cellspacing="7" cellpadding="0" width="600" border="0">
    <tbody>
        <tr style="text-align: center">
<td>
<div class="lavalamp magenta">
    <ul >
        <li class="active"><span onClick="changeNavigation('home')" name="home" >&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;</span></li>
     <li><span onClick="changeNavigation('insert')" name="edit" >&nbsp;&nbsp;&nbsp;Insert&nbsp;&nbsp;&nbsp;</span></li>
     <li><span onClick="changeNavigation('history')" name="show"> &nbsp;&nbsp;&nbsp;show data&nbsp;&nbsp;&nbsp;</span></li>
</ul>
<div class="floatr"></div>
</div>
</td>
</tr><tr>

<td valign="center" ><dt>
<div class="test" id="main">
<p><span class="style1">HELLO  !!! EVERYONE</span></p>

<p align="center" class="style6"><img src="/static/picture/pic2.jpg " border="10" width="200" height="200"></br></br>WELCOME TO MY WORK</p>
<p align="center" class="style6">this is my work, Assignment 1. </br>It's about income-outcome spreadsheet.</br></br>
<img src="/static/picture/pic1.gif "></br></br></br></br></br></br></p>
</div>
</dt></td>

</center>
 </dt></td>
        </tr>
    </tbody>
</table>

</div>

<!--Main page-->

<div id="home" style="display: none">
<p><span class="style1">HELLO  !!! EVERYONE</span></p>
<p align="center" ><img src="/static/picture/pic2.jpg " border="10" width="200" height="200"></br></br>WELCOME TO MY WORK</p>
<p align="center" >this is my work, Assignment 1. </br>It's about income-outcome spreadsheet.</br>
<img src="/static/picture/pic1.gif ">
</br></br></br></br></br></br></p>
</div>

   
<!--Insert data-->
<div id="insert" style="display: none">
<p align="center"><span class="style2">INSERT DATA</span></p>
<span class="style3">*You must input to <FONT SIZE=5><U><B>Event</B></U></FONT> and <FONT SIZE=5><U><B>how much of money</B></U></FONT> ,Please </span></br></br>
        <form  name ="inputForm" id="inputForms" method="POST">
<table> 
<tr><td>
             date of event:</td><td><input name="date_text" id="date_new_item" placeholder="date of event YYYY-MM-DD" /></tr><td>
             event:</td><td><input name="item_text" id="id_new_item" placeholder="Enter a item" /> </tr><td>  
              How much? :</td><td><input name="money_text" id="money_new_item" placeholder="00.00" /></tr></td>
</table></br></br>

              <input id="submit_data" type="submit" value="Submit"  >
              <input type="hidden" value="insert" name="current">
            {% csrf_token %}
</br></br></br></br></br>
        </form>


</span>   
</div>


<!--show history data-->
<div id="history" style="display: none">
<p align="center"><span class="style2">SHOW HISTORY OF MY MONEY</span></p>
<!--Error-->
<table id="total_list">
<tr><td><b>Total :   </b></td><td><u> {{totals}}</u></td></tr>
</table>
<table id="id_list_table">
            {% for item in items %}

                <tr>
                    <td>{{ item.date}}</td>
                    <td>{{ item.text}}</td>
                    <td>{{ item.money}}</td>
                    <td>                 
                    <FORM method="POST" >
                       <INPUT Type="submit" VALUE="delete" id="button_d_{{item.id}}" >      
                       <INPUT Type = "hidden" value ="delete" name = 'delete'>
                       <INPUT Type = "hidden" value ="{{ item.id }}" name = 'item_delete'>
                       <input type="hidden" value="history" name="current">
                    {% csrf_token %}
                    </FORM>
                    </td>
</tr>
              
           {% endfor %}

        </table>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br>

</div>




      
        
    </body>
</html>
